# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [9]:
chipo_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [10]:
chipo = pd.read_csv(chipo_url, sep ='\t')

### Step 4. See the first 10 entries

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [15]:
# Solution 1

print(len(chipo))

4622

In [16]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [17]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [18]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [125]:
items = chipo[['item_name','quantity']].groupby('item_name').agg(['count','sum']).sort_values(('quantity', 'sum'), ascending=False)

In [119]:
print(items.index[0])

Chicken Bowl
726

### Step 10. For the most-ordered item, how many items were ordered?

In [122]:
print(items[('quantity', 'sum')][0])

761

### Step 11. What was the most ordered item in the choice_description column?

In [129]:
items2 = chipo[['choice_description','quantity','item_price']].groupby('choice_description').agg(['count','sum']).sort_values(('quantity', 'count'), ascending=False)
print(items2.index[0])

[Diet Coke]

### Step 12. How many items were orderd in total?

In [127]:
print(items2[('quantity', 'sum')][0])

159

### Step 13. Turn the item price into a float

In [130]:
chipo['item_price'][items2.index[0]]

KeyError: '[Diet Coke]'

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?